extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hey, Potential Employers
 
      p.lead.text-light
        | This portfolio site is to showcase all the projects i`ve built  while completing the Team Treehouse Full Stack Javascript Techdegree and after that.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail.scale(src=`${project.image_urls[0]}`)
            h5.centered #{project.name}
       

      
      
